.css-f3jnds-MuiDataGrid-columnHeaders{

    background-color: #455d7a;
}


.css-1kwdphh-MuiDataGrid-virtualScrollerContent{

    background-color: #606470;
}

.css-17jjc08-MuiDataGrid-footerContainer{

    background-color: #455d7a;
}

.css-1e2bxag-MuiDataGrid-root{

    color: #d8d7d7!important;
}