.css-f3jnds-MuiDataGrid-columnHeaders{
    background-color: #455d7a;
}

.css-1kwdphh-MuiDataGrid-virtualScrollerContent{
    background-color: #606470;
}

.css-17jjc08-MuiDataGrid-footerContainer{
    background-color: #455d7a;
}

.css-1e2bxag-MuiDataGrid-root{
    color: #d8d7d7 !important;
    font-size: 1em !important;
    border-top-style: none !important;
    border-right-style: none !important;
    border-bottom-style: none !important;
    border-left-style: none !important;

}

.css-rtrcn9-MuiTablePagination-root{
    color: #d8d7d7!important;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled{
    color: #d8d7d7!important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
    color:#d8d7d7!important;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell{
    border-bottom-color: #d8d7d7!important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.css-zqcytf-MuiButtonGroup-root{
    margin-top: 2em;
    border-style: solid;
    border-color: #d8d7d7;
    border-width: 1px;
}
