.MuiDataGrid-columnHeaderTitleContainer {
    background-color: #A9A9A9;
}

.MuiDataGrid-columnHeaders {
    background-color: #A9A9A9;
}

.MuiDataGrid-footerContainer {
    background-color: #A9A9A9;
}

.MuiTablePagination-displayedRows {
    color: black;
}

.MuiSvgIcon-root {
    color: black;
}
