.MuiTypography-root {
    color: black;
}

.MuiList-root {
    background-color: var(--Background) !important;
}

textarea {
    background-color: var(--TableBodyMessageBackground);
}

.MuiDivider-root {
    border: none;
}
