.MuiTypography-root {
    color: black;
}

.MuiList-root {
    background-color: var(--Background) !important;
}

textarea {

    background-color: #9CA3AF;
}

.MuiDivider-root {

    border: none;
}
