:root {
    --footerHeaderBackground: #696969;
    --TableHeadBackground: #A9A9A9;
    --TableBodyMessageBackground: #D3D3D3;
    --HomeCentralColor: #1a607f;
    --HomeCentralSecondColor: #2bc9c8;
    --HeaderAndFootercolor: ghostwhite;
    --Background: #808080;
    --ButtonColor: #C0C0C0;
    overflow: scroll;
    height: 100vh;
}

body {
    --toastify-color-light: var(--background_body);
    --toastify-color-info: #81baf3;
    --toastify-color-success: #76b076;
    --toastify-color-warning: #ffe26f;
    --toastify-color-error: #ff6556;
    --toastify-toast-width: 520px;
    --toastify-toast-min-height: 84px;
    --toastify-toast-max-height: 600px;
    --toastify-font-family: sans-serif;
    --toastify-text-color-light: var(--table_content_color);

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background-color: var(--Background);

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
}

.Toastify__toast-container--top-center {
    text-align: center;
    top: 30pt !important;
    font-size: 15pt;
}

.homeCircle{
    padding-top: 1.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 1.5em;
}
